{% from "./components/ui/input.html" import input %}

<tr>
    <form  hx-put="{{ plant.id }}"
           hx-target="closest tr"
           hx-swap="outerHTML"
           hx-ext="json-enc">
        <td>{{ plant.id }}</td>
        <td>
            {{ input(id='name', name='name', value=plant.name, label='Plant Name', type="text", required=true) }}
        </td>

        <td>
            {{ input(id='species', name='species', value=plant.species, label='Plant Species', type="text", required=true) }}
        </td>

        <td>
            {{ input(id='description', name='description', value=plant.description, label='Plant Description', type="text", required=true) }}
        </td>

        <td>
            {{ input(id='image_url', name='image_url', value=plant.image_url, label='Plant Image', type="text", required=true) }}
        </td>

        <td>
            <button type="submit" class="hover:text-green-600 p-4 transition-colors">
                <i class="fa-solid fa-check"></i>
            </button>
        </td>
        <td>
            <button hx-get="fragments/cancel-edit-row/{{ plant.id }}"
                    hx-target="closest tr"
                    hx-swap="outerHTML"
                    type="button"
                    class="hover:text-red-600 p-4 transition-colors"
            >
                <i class="fa-solid fa-xmark"></i>
            </button>
        </td>
    </form>
</tr>
